<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Flaskr</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <h1>Flaskr</h1>

      <ul>
        {% if g.user %}
        <li><span>Hello {{ g.user['username'] }}!</span>
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a>
          <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
          <h1>{% block header %}{% endblock %}</h1>
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>

  </body>
</html>